#mapdisplay {
  height: 485px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid teal;
}

nav button {
  display: inline;
  position: relative;
}

body { 
  padding-top: 100px; 
  font-family: 'Comfortaa', cursive;
}

#login, #signup {
  margin-right: 13%;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 30px;
  text-align: center;
}

.navbar-brand {
  font-size: 2.5em;
}

#homeimg {
  margin-top: 8%;
  margin-left: 6%;
}

.move {
  margin-left: 10%;
  margin-top: 5%
}

.place {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 10px;
}
