#mapdisplay {
  height: 485px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid teal;
}

body { 
  font-family: 'Comfortaa', cursive;
}

#login, #signup {
  margin-top: 13%;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 30px;
  text-align: center;
}

#homeimg {
  margin-top: 8%;
  margin-left: 6%;
}

.place {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 10px;
}

#detail {
  margin-top: 50px;
}

.contain {
  max-width: 70%;
  margin: 0 auto;
}

