<div class="move ui three column grid container">
    <!-- AttractionsController -->
  <div ng-repeat="attraction in attractionsList" class="column">
    <div class="ui link cards">
        <!-- INDIVIDUAL CARD VIEW -->
      <a class="card" href="{{ attraction.Link }}">
        <div class="image">
            <img src="https://static-s.aa-cdn.net/img/ios/371279677/1fbf8e2fbaf52b6caa1d1de481f8eeb9?v=1">
        </div>
        <div class="content">
            <div class="header">{{ attraction.Attraction }} </div>

            <div class="description">
                {{ attraction.Description }}
            </div>
            <div class="ui fitted divider"></div>
            <div class="extra content meta">
           <span>{{ attraction.Type }}</span>
           <span class="right floated">{{ attraction.City }}</span>
       </div>
        </div>
      </a>
    </div>
  </div>
</div>