<div class="ui bottom attached tab segment active" data-tab="second">
  <h1>Attractions</h1>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
  <h1>Intinerary</h1>
    <form name='plans' ng-submit="addEvent()">
      <input class="text" name="username" placeholder="Add event" ng-model="event.info">
      <input type="submit" value="addEvent">
    </form>
      <div class="panel panel-default" ng-repeat="plan in plans">
        <div "panel-body">
          <a>{{ location }}</a>
        </div>
      </div>  
</div>