
<div class="ui top attached tabular menu">
  <a ui-sref="detail.info" class="item" data-tab="first">Info</a>
  <a ui-sref="detail.attractions" class="item active" data-tab="second">Attractions</a>
  <a ui-sref="detail.itinerary" class="item" data-tab="third">Itinerary</a>
</div>

<div ui-view></div>
<!-- <div class="ui bottom attached tab segment" data-tab="first">
  <h1>Info</h1>
</div>
<div class="ui bottom attached tab segment active" data-tab="second">
  <h1>Attractions</h1>
</div>
<div class="ui bottom attached tab segment active" data-tab="second">
  <h1>Attractions</h1>
</div> -->
