<!-- AuthController -->
<div class="ui middle aligned center aligned grid">
    <div id="login" class="six wide column">
        <h1>Show Me the Map!</h1>
        <form name="loginForm" class="ui form" ng-submit='signin()'>
            <div class="field">
                <div class="ui left icon input">
                    <input type='text' ng-model='user.username' placeholder="wanderlust@whereto.com">
                    <i class="user icon"></i>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <input type="password" ng-model='user.password' placeholder="password">
                    <i class="lock icon"></i>
                </div>
            </div>
            <button class="ui teal button medium fluid">Login</button>
            <div class="ui horizontal divider">
                Or
            </div>
            <button class="ui teal button small fluid" ui-sref="signup">Sign Up</button>
        </form>
    </div>
</div>