<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" ng-controller="AuthController">
        <a class="navbar-brand" href="#">Where To?</a>
        <button ng-click="logout()" class="btn btn-default navbar-right navbar-btn ">Logout</button>
    </div>
</nav>
<button ng-click="showTab(1)" class="btn-lg btn btn-default" type="button">Show Map</button>
<button ng-click="showTab(2)" class="btn-lg btn btn-default" type="button">Show Places</button>
<div ng-controller="MapController">
    <div id="mapdisplay" ng-show='tab === 1'></div>
    <br>
    <div class="col-md-4 col-md-offset-4">
        <form name="locationForm" ng-submit="pinMap()">
            <div class="input-group">
                <input id="search" type="text" class="form-control input-lg" placeholder="add a destination" ng-model="map.location">
                <span class="input-group-btn">
          <button ng-click="pinMap()" class="btn-lg btn btn-default" type="button">Mark the Map!</button>
        </span>
            </div>
        </form>
    </div>
   <!--  populate on sign in -->
    <table class="table" ng-show='tab === 2'>
    <tr ng-repeat="place in locations">
        <td title="'Name'" ng-click="getLocData()"> {{ place }} </td>
    </tr>
</table>
</div>
