<nav class="ui fixed menu">
  <div class="container">
  <a class="ui header item" href="#/map">Where To?</a>
  </div>
</nav>

<div class="ui grid">
    <div id="homeimg" class="five wide column">
        <img class="ui large image" src="./assets/worldmap.png" alt="">
    </div>
    <div id="signup" class="six wide column right floated">
        <h1>Create a New Account</h1>
        <form name="signupForm" class="ui form" ng-submit='signup()'>
            <div class="field">
                <input type='text' ng-model='user.username' placeholder="wanderlust@whereto.com">
            </div>
            <div class="field">
                <input type="password" ng-model='user.password' placeholder="password">
            </div>
            <button class="ui teal button medium fluid">Sign Up</button>
            <div class="ui horizontal divider">
                Or
            </div>
            <button class="ui teal button small fluid" ui-sref="login">Log In</button>
        </form>
    </div>
</div>
</div>